* {
    padding: 0;
    margin: 0;
}

body {
    //background: url("https://chanshiyu.com/static/media/background.ef472d798843fcea2486.jpg");
    //background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
